<!DOCTYPE html>
<html>
  <head>
    <title>Films: Home</title>
  </head>
  <body>
    <a href="/"><h1>Films</h1></a>
    <ul>
      <li><a href="/films/"><h2>List of films</h2></a></li>
      <li><a href="/directors/"><h2>List of directors</h2></a></li>
    </ul>
  </body>
</html>
