<!DOCTYPE html>
<html>
  <head>
    <title>Films: Home</title>
  </head>
  <body>
    <a href="/"><h1>Films</h1></a>
    <div>
      <a href="/parties/"><h2>List of films</h2></a>
    <div>
  </body>
</html>
