<!DOCTYPE html>
<html>
  <head>
    <title>List of Films</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Film Data</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/films/<%=item._id%>_<%=item.year%>"><%=item.title%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No films found.</div>
    <% } %>
    <div class="control">
      <h2>Search for films by name</h2>
      <form method="get" action="/films/">
        <label>Film name: <input name="name"></label>
        <button>Search</button>
      </form>
    </div>

<div id="new-film">
    <form method="post" action="/add-film/">
	<label> Title </label><input type="text" name="film[title]" value="" /><br />
	<label> Year </label><input type="text" name="film[year]" value="" /><br />
	<label> Director </label><input type="text" name="film[director]" value="" /><br />
	<label> Producer </label><input type="text" name="film[producer]" value="" /><br />
	<label> Writer </label><input type="text" name="film[writer]" value="" /><br />
	<label> Distributor </label><input type="text" name="film[distributor]" value="" /><br />
	<label> Rating </label><input type="text" name="film[rating]" value="" /><br />
	<label> Genre </label><input type="text" name="film[genre]" value="" /><br />
	<label> Language </label><input type="text" name="film[language]" value="" /><br />
	<label> Actor </label><input type="text" name="film[actor]" value="" /><br />
	<input type="submit" /><br />
	</form>
</div>
  </body>
</html>
