<!DOCTYPE html>
<html>
  <head>
    <title>Film Data: Directors</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>List of Directors</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li itemscope itemtype="http://schema.org/Person"><a href="/directors/<%=item._id%>/">
      <span itemprop="name"><%=item.name%></span></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No directors have been added.</div>
    <% } %>
    <div class="control">
      <h2>Add or update a director</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/directors/"
            onsubmit="return onFormSubmit(this);">
   
        <!--<label>Director ID<br>
          (lowercase letters only, no spaces):
          <input name="item[id]" type="text" pattern="[a-z]+" required
                 placeholder="Director Name">
        </label>-->
        <label>Director name: 
          <input name="item[name]" type="text" required
                 placeholder="Director">
        </label>
        <label>Director description:
          <textarea name="item[description]" cols="80" rows="10" 
                    placeholder="Include information regarding a director's most successful films and other accomplishments, as well as anything interesting about his or her personal life."
          ></textarea>
        </label>
        <button>Add or update</button>
      </form>
    </div>
  </body>
</html>
